languagetool
pology
accounts-service
appstream
appstream-glib
askbot
blivet-gui
clipit
colord
colorhug-client
exaile
fedora-docs
fedora-main
fedora-upstream
fedora-web
fprintd
fwupd
gnome
MATE
PackageKit
rpm
shared-mime-info
sugar
udisks2
VirtpyAskboot
XFCE
yumex
yumex-dnf
zif
*-report.html
